@font-face {
  font-family: oldtown;
  src: url(fonts/oldtown.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/5_background/fullscreen_background/background_image.jpg");
  background-size: cover;
  background-position: top;
}

h1 {
  font-family: oldtown;
  font-size: 6rem;
  letter-spacing: 2px;
  color: #ffd90b;
  text-shadow: 3px 5px 3px #826950;
  margin-bottom: 0.5em;
}

canvas {
  background-color: black;
  border: 3px solid #826950;
  border-radius: 5px;
}

.startscreen,
.endscreen {
  max-width: 720px;
  height: 480px;
  position: relative;
  border: 3px solid #826950;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startscreen img {
  width: 100%;
  height: 100%;
}

.won {
  width: 50%;
  height: 25%;
  position: absolute;
}

.lost {
  width: 65%;
  height: 35%;
  position: absolute;
}

.layer2 {
  width: 100%;
  height: 100%;
}

.buttonLayoutWrapper {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 2.75em;
  max-width: 720px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonLayoutWrapper span {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: oldtown;
  letter-spacing: 2px;
  color: #ffd90b;
  text-shadow: 1px 2px 1px #826950;
}

.navbar {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  justify-content: center;
}

.navbar img {
  height: 56px;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.35s ease-in-out;
}

.navbar img:hover {
  transform: scale(1.125);
}

.dNone {
  display: none;
}

.buttonContainer img {
  height: 50px;
}
